/* ----------------------- Class -------------------------*/

.about{
    width: 400px;
    margin: auto;
}

.about-team{
    color: rgb(82, 81, 81);
}

.authors{
    background-color: #EFFAF2;
}

.footer{
    background-color: #81A677; /* footer background */
}

.howTo{
    font-size: 20px;
}

.icon-white {
    color: #FFF;
}

.nb-background-color {          /* navbar background color */
    background-color: #81A677;
}

.nbMenuItem {           /* navbar link text properties */
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview {
    background-color: #EFFAF2;
}

.ovPadLeft {
    padding-left: 20px;
}

.ovPadRight {
    padding-left: 20px;
}

.procedure{
    background-color: #EFFAF2;
    padding: 1px;
}

.row {
    justify-content: center;
}

.showcase{
    background-color: #2D6A4F;
}

.results {
    background-color: #EFFAF2;
}

.chart-wrapper{
    margin: auto;
    padding: 10px; 
    height: 70vh;
    width:  80vw;
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}



/* --------------------- ID ------------------------ */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}